body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d30b0b;
    color: white;
    padding: 15px;
}

header h1 {
    margin: 0;
}

main {
    padding: 50px;
}

#timersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.timerWrapper {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

.timerWrapper .description {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.timerWrapper .timerType {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.timer {
    font-size: 3em;
    font-weight: bold;
    color: #003366;
    background: #e0eafc; 
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 20px 0;
}

button {
    font-size: 1.2em;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #0056b3;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #004494;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal input,
.modal select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1em;
}

/* eliminar */
.timerWrapper .delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    font-size: 0.8em;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#timerControls {
    margin-top: 50px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: inline-block;
}

#weather {
    background-color: #c1b5ee; 
    border: 1px solid #1a1141;
    border-radius: 8px; 
    padding: 15px;
    margin: 20px 0; 
    text-align: center; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#weather p {
    font-size: 1.2em; 
    color: #310303;
}

#currentTemperature {
    font-weight: bold;
    color: #007BFF; 
    font-size: 1.5em;
}